{#
Disclaimer

This work (specification and/or software implementation) and the material
contained in it, as released by AUTOSAR, is for the purpose of information
only. AUTOSAR and the companies that have contributed to it shall not be
liable for any use of the work.

The material contained in this work is protected by copyright and other
types of intellectual property rights. The commercial exploitation of the
material contained in this work requires a license to such intellectual
property rights.

This work may be utilized or reproduced without any modification, in any
form or by any means, for informational purposes only. For any other
purpose, no part of the work may be utilized or reproduced, in any form
or by any means, without permission in writing from the publisher.

The work has been developed for automotive applications only. It has
neither been developed, nor tested for non-automotive applications.

The word AUTOSAR and the AUTOSAR logo are registered trademarks.
--------------------------------------------------------------------------
#}
{% macro to_bool(value) %}
{% if value %}true{% else %}false{% endif %}
{% endmacro %}
{
    "shortName": "{{vehicle_package.shortName}}",
    "driverNotification": [

    {% for driverNotification in vehicle_package.driverNotification %}

        {
            "approvalRequired": {{to_bool(driverNotification.approvalRequired)}},
            "notificationState": "{{driverNotification.notificationState}}"
        }{{ "," if not loop.last }}

    {% endfor %}

    ],
{% if vehicle_package.packagerSignature %}
    "packagerSignature": "{{vehicle_package.packagerSignature}}",
{% endif %}
    "repository": "{{vehicle_package.repository}}",
    "rolloutQualification": [
    {% for rolloutQualification in vehicle_package.rolloutQualification %}

        {
            "shortName": "{{rolloutQualification.shortName}}",
            "safetyPolicy": "{{rolloutQualification.safetyPolicy}}",
            "ucmProcessing": [
                {% for ucmProcessing in rolloutQualification.ucmProcessing %}

                {
                    "shortName":"{{ucmProcessing.shortName}}",
                    "softwarePackageStep":[

                    {% for softwarePackageStep in ucmProcessing.softwarePackageStep %}

                        {
                            "shortName": "{{softwarePackageStep.shortName}}",
                            "activationSwitch": {{to_bool(softwarePackageStep.activationSwitch)}},
                            "process": "{{softwarePackageStep.process}}",
                            "transfer": {
                                "storing": "{{softwarePackageStep.transfer.storing}}",
                                "transfer": [
                                 {% for transfer in softwarePackageStep.transfer.transfer %}

                                    "{{transfer}}"{{ "," if not loop.last }}

                                 {% endfor %}

                                ]
                            }

                        }{{ "," if not loop.last }}

                    {% endfor %}

                    ],
                    "ucm":"{{ucmProcessing.ucm}}"
                }{{ "," if not loop.last }}

                {% endfor %}

            ]

        }{{ "," if not loop.last }}

    {% endfor %}

    ],
    "ucm": [
    {% for ucm in vehicle_package.ucm %}

        {
            "shortName":"{{ucm.shortName}}",
            "identifier":"{{ucm.identifier}}",
            "ucmModuleInstantiation":"{{ucm.ucmModuleInstantiation}}",
            "ucmId":"{{ucm.ucmId}}"
        }{{ "," if not loop.last }}

    {% endfor %}
    ],
    "ucmMasterFallback": [
    {% for ucmMasterFallback in vehicle_package.ucmMasterFallback %}
    "{{ucmMasterFallback}}"{{ "," if not loop.last }}
    {% endfor %}
    ]
}
{% block footer %}{% endblock %}
