{#
Disclaimer

This work (specification and/or software implementation) and the material
contained in it, as released by AUTOSAR, is for the purpose of information
only. AUTOSAR and the companies that have contributed to it shall not be
liable for any use of the work.

The material contained in this work is protected by copyright and other
types of intellectual property rights. The commercial exploitation of the
material contained in this work requires a license to such intellectual
property rights.

This work may be utilized or reproduced without any modification, in any
form or by any means, for informational purposes only. For any other
purpose, no part of the work may be utilized or reproduced, in any form
or by any means, without permission in writing from the publisher.

The work has been developed for automotive applications only. It has
neither been developed, nor tested for non-automotive applications.

The word AUTOSAR and the AUTOSAR logo are registered trademarks.
--------------------------------------------------------------------------
#}
{% extends "utils/header_base.j2" %}
{% block header %}{{super()}}{% endblock %}
{% block source %}

#include <cstdint>

#include <ara/core/future.h>
#include <ara/core/instance_specifier.h>
#include <ara/diag/internal/continuation_manager.h>
#include <ara/diag/internal/raw_data_element.h>
#include <ara/diag/internal/types.h>
#include <ara/diag/cancellation_handler.h>
#include <ara/diag/meta_info.h>
#include <ara/diag/reentrancy.h>
#include <isoft/serialize/serialize.h>

{% if item.includeDatatypeList %}{% for datatypeItem in item.includeDatatypeList %}
#include "{{ datatypeItem }}"
{% endfor %}{% endif %}

{% if item.namespaces %}{% for ns in item.namespaces %}
namespace {{ns}} {
{% endfor %}{% endif %}

class {{item.name}} : public ara::diag::internal::RawDataElement {
 public:
{% if item.read %}
    struct {{item.read.name}} {
{%for out_item in item.read.readOut %}
        {{out_item.outputType}} {{out_item.name}};
{%endfor%}
{% if item.read.readOut | length > 0 %}
        std::int32_t Serialize(ara::diag::internal::Chunk& payload) const noexcept
        {
            ara::diag::internal::Chunk temPayload;
            isoft::serialize::Buffer< ara::diag::internal::Chunk > buffer(temPayload);
{%for out_item in item.read.readOut%}
{% if out_item.outputType.startswith('ara::core::Vector') %}
            payload.insert(payload.end(), {{out_item.name}}.begin(), {{out_item.name}}.end());
{% else %}
            temPayload.clear();
            std::int32_t {{out_item.name}}_status = isoft::serialize::Serialize(buffer, {{out_item.name}});
            if ({{out_item.name}}_status >= 0) {
                payload.insert(payload.end(), temPayload.begin(), temPayload.end());
            } else {
                return {{out_item.name}}_status;
            }
{% endif %}
{% endfor %}
            return static_cast< std::int32_t >(payload.size());
        }
{% endif %}
        using TagEnumerable = void;
        template <typename F>
        void enumerate(F& fun) {
{%for out_item in item.read.readOut%}
            fun({{out_item.name}});
{% endfor %}
        }
    };
{% endif %}
    {{item.name}}(const ara::core::InstanceSpecifier& specifier, ara::diag::ReentrancyType reentrancyType);

    virtual ~{{item.name}}() noexcept = default;

{% if item.read %}
    virtual ara::core::Future<{{item.read.name}}> Read(ara::diag::MetaInfo& metaInfo,
                                                    ara::diag::CancellationHandler cancellationHandler) = 0;
{%endif%}
 protected:

    virtual ara::core::Future<ara::diag::internal::Chunk> RawRead(
        ara::diag::MetaInfo& metaInfo, ara::diag::CancellationHandler cancellationHandler) override;


};

{% if item.namespaces %}{% for ns in item.namespaces|reverse %}
}  // namespace {{ ns }}
{% endfor %}{% endif %}

{% endblock source %}
{% block footer %}{{super()}}{% endblock %}

