{#
Disclaimer

This work (specification and/or software implementation) and the material
contained in it, as released by AUTOSAR, is for the purpose of information
only. AUTOSAR and the companies that have contributed to it shall not be
liable for any use of the work.

The material contained in this work is protected by copyright and other
types of intellectual property rights. The commercial exploitation of the
material contained in this work requires a license to such intellectual
property rights.

This work may be utilized or reproduced without any modification, in any
form or by any means, for informational purposes only. For any other
purpose, no part of the work may be utilized or reproduced, in any form
or by any means, without permission in writing from the publisher.

The work has been developed for automotive applications only. It has
neither been developed, nor tested for non-automotive applications.

The word AUTOSAR and the AUTOSAR logo are registered trademarks.
--------------------------------------------------------------------------
#}

#include "ara/diag/{{item.lowerName}}.h"

#include <ara/core/promise.h>
#include <ara/diag/diag_error_domain.h>
#include <isoft/serialize/serialize.h>

{% if item.includeDatatypeList %}{% for datatypeItem in item.includeDatatypeList %}
#include "{{ datatypeItem }}"
{% endfor %}{% endif %}

{% if item.namespaces %}{% for ns in item.namespaces %}
namespace {{ns}} {
{% endfor %}{% endif %}

{{item.name}}::{{item.name}}(const ara::core::InstanceSpecifier& specifier,
                                           ara::diag::DataIdentifierReentrancyType reentrancyType)
    : RawDataIdentifier(specifier, reentrancyType) {}

{% if item.read %}
ara::core::Future<ara::diag::internal::Chunk> {{item.name}}::RawRead(
    ara::diag::MetaInfo& metaInfo, ara::diag::CancellationHandler cancellationHandler) {
    ara::core::Future<{{item.read.name}}> requestResult{std::move(Read(metaInfo, std::move(cancellationHandler)))};
    ara::core::Result<{{item.read.name}}> result{std::move(requestResult.GetResult())};
    ara::core::Promise<ara::diag::internal::Chunk> promise;
    if(result.HasValue()) {
        ara::diag::internal::Chunk payload;
        isoft::serialize::Buffer<ara::diag::internal::Chunk> buffer(payload);
        auto status = isoft::serialize::Serialize(buffer, result.Value());
        if (status >= 0) {
            promise.set_value(payload);
        }else{
            promise.SetError(ara::diag::MakeErrorCode(ara::diag::DiagErrc::kGenericError, status));
        }
    }else{
        promise.SetError(result.Error());
    }
    return promise.get_future();
}
{% endif %}
{% if item.write %}
ara::core::Future<void> {{item.name}}::RawWrite(ara::diag::internal::Chunk& requestData,
                                                       ara::diag::MetaInfo& metaInfo,
                                                       ara::diag::CancellationHandler cancellationHandler) {
{%for write_item in item.write%}
    {{write_item.writeType}} {{write_item.name}};
{%endfor%}
    isoft::serialize::Buffer<ara::diag::internal::Chunk> buffer(requestData);
    auto status = isoft::serialize::Deserialize(buffer, {%for write_item in item.write%}{{write_item.name}}{% if not loop.last %},{% endif %}{% endfor %});
    if (status >= 0) return Write({%for write_item in item.write%}{{write_item.name}},{%endfor%} metaInfo, std::move(cancellationHandler));
    ara::core::Promise<void> promise;
    promise.SetError(ara::diag::MakeErrorCode(ara::diag::DiagErrc::kGenericError, status));
    return promise.get_future();
}
{% endif %}
{% if item.namespaces %}{% for ns in item.namespaces|reverse %}
} // namespace {{ ns }}
{% endfor %}{% endif %}